.hutltu {
    padding-top: 0.5px !important;
    padding-bottom: 0.5px !important;
}

.chOOHy {
    padding-top: 0.5px !important;
    padding-bottom: 0.5px !important;
}

.dolNKP {
    padding-top: 0.5px !important;
    padding-bottom: 0.5px !important;
}

.kzhJjR  {
    padding-top: 0.5px !important;
    padding-bottom: 0.5px !important;
}

.redoc-logo {
    cursor: pointer;
}
  